<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
    <!--
    Created by Artisteer v3.0.0.33215
    Base template (without user's data) checked by http://validator.w3.org : "This page is valid XHTML 1.0 Transitional"
    -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" href="style.ie6.css" type="text/css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" href="style.ie7.css" type="text/css" media="screen" /><![endif]-->

    <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
    <link rel="stylesheet" type="text/css" 
    href="{{ STATIC_URL }}js/shadowbox.css">
    <script type="text/javascript" src="
    {{ STATIC_URL }}js/shadowbox.js"></script>
    <script type="text/javascript">
    Shadowbox.init({
    language: 'ru',
    players: ['img'],
    });
    </script>
</head>
<body>
<div id="art-page-background-glare">
        <div id="art-page-background-glare-image">
    <div id="art-main">
        <div class="art-sheet">
            <div class="art-sheet-tl"></div>
            <div class="art-sheet-tr"></div>
            <div class="art-sheet-bl"></div>
            <div class="art-sheet-br"></div>
            <div class="art-sheet-tc"></div>
            <div class="art-sheet-bc"></div>
            <div class="art-sheet-cl"></div>
            <div class="art-sheet-cr"></div>
            <div class="art-sheet-cc"></div>
            <div class="art-sheet-body">
                <div class="art-header">
                    <div class="art-header-center">
                        <div class="art-header-png"></div>
                        <div class="art-header-jpeg"></div>
                    </div>
                    <div class="art-logo">
                     <h1 id="name-text" class="art-logo-name"><a href="#">Название сайта</a></h1>
                    </div>
                </div>
                <div class="art-nav">
                	<div class="l"></div>
                	<div class="r"></div>
                	<ul class="art-menu">
                		<li>
                			<a href="#" class="active"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
                		</li>
                		<li>
                			<a href="#"><span class="l"></span><span class="r"></span><span class="t">Menu Item</span></a>
                			<ul>
                				<li><a href="#">Menu Subitem 1</a>
                					<ul>
                						<li><a href="#">Menu Subitem 1.1</a></li>
                						<li><a href="#">Menu Subitem 1.2</a></li>
                						<li><a href="#">Menu Subitem 1.3</a></li>
                					</ul>
                				</li>
                				<li><a href="#">Menu Subitem 2</a></li>
                				<li><a href="#">Menu Subitem 3</a></li>
                			</ul>
                		</li>		
                		<li>
                			<a href="#"><span class="l"></span><span class="r"></span><span class="t">About</span></a>
                		</li>
                	</ul>
                </div>
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1">
                          <div class="art-vmenublock">
                              <div class="art-vmenublock-tl"></div>
                              <div class="art-vmenublock-tr"></div>
                              <div class="art-vmenublock-bl"></div>
                              <div class="art-vmenublock-br"></div>
                              <div class="art-vmenublock-tc"></div>
                              <div class="art-vmenublock-bc"></div>
                              <div class="art-vmenublock-cl"></div>
                              <div class="art-vmenublock-cr"></div>
                              <div class="art-vmenublock-cc"></div>
                              <div class="art-vmenublock-body">
                                          <div class="art-vmenublockheader">
                                              <div class="l"></div>
                                              <div class="r"></div>
                                              <h3 class="t">Навигация по сайту</h3>
                                          </div>
                                          <div class="art-vmenublockcontent">
                                              <div class="art-vmenublockcontent-body">
                                                          <ul class="art-vmenu">
                                                          	<li>
                                                          		<a href="/"><span class="l"></span><span class="r"></span><span class="t">Главная</span></a>
                                                          	</li>
                                                          	<li>
                                                          		<a href="/info/"><span class="l"></span><span class="r"></span><span class="t">Официальная&nbsp;информация</span></a>
                                                          				<ul>
                                                          			<li><a href="/structuredou/">Структура ДОУ</a></li>
                                                                <li><a href="/structureupravleniya/">Структура управления ДОУ</a></li>
                                                                <li><a href="/history/">Историческая справка</a></li>
                                                          		</ul>
                                                          	</li>
                                                          	<li class="active">
                                                          		<a class="active" href="/documents/"><span class="l"></span><span class="r"></span><span class="t">Документы</span></a>
                                                          		<ul class="active">
                                                          			<li><a href="/uchdoc/">Учредительные документы</a></li>
                                                          			<li><a href="/progams-plans/" class="active">Программы, планы</a></li>
                                                          			<li><a href="/finans-docs/">Финансовые документы</a></li>
                                                                <li><a href="/reports/">Отчеты</a></li>
                                                                <li><a href="/local-acts/">Локальные акты</a></li>
                                                          		</ul>
                                                          	</li>
                                                            <li class="active">
                                                              <a class="active" href="/about-us/"><span class="l"></span><span class="r"></span><span class="t">Знакомьтесь, это мы!</span></a>
                                                              <ul class="active">
                                                                <li><a href="/administration-dou/">Администрация ДОУ</a></li>
                                                                <li><a href="/workers-dou/">Сотрудники ДОУ</a></li>
                                                              </ul>
                                                            </li>
                                                            <li class="active">
                                                              <a class="active" href="/our-grups/"><span class="l"></span><span class="r"></span><span class="t">Наши группы</span></a>
                                                              <ul class="active">
                                                                <li><a href="/work-with-us/">С нами работают</a></li>
                                                                <li><a href="/day-regimen/">Режим дня</a></li>
                                                                <li><a href="/setka-zanyatiy/">Сетка занятий</a></li>
                                                                <li><a href="/live-our-grups/">Жизнь нашей группы</a></li>
                                                                <li><a href="/sovet-educator/">Советы воспитателья</a></li>
                                                              </ul>
                                                            </li>                                           	
                                                          	
                                                          	<li>
                                                          		<a href="/tour/"><span class="l"></span><span class="r"></span><span class="t">Экскурсия по ДОУ</span></a>
                                                          	</li>

                                                          	<li class="active">
                                                              <a class="active" href="/education-activities/"><span class="l"></span><span class="r"></span><span class="t">Образовательная&nbsp;деятельность</span></a>
                                                              <ul class="active">
                                                                <li><a href="/tasks/">Годовые задачи и цели</a></li>
                                                                <li><a href="/programms-and-plans/">Программы и планы</a></li>
                                                                <li><a href="/education-process/">Образовательный процесс</a></li>
                                                                <li><a href="/social-cooperation/">Сотрудничество с социумом</a></li>                           
                                                              </ul>
                                                            </li> 


                                                            <li class="active">
                                                              <a class="active" href="/other-services/"><span class="l"></span><span class="r"></span><span class="t">Дополнительные услуги</span></a>
                                                              <ul class="active">
                                                                <li><a href="/normative-documents/">Нормативные документы</a></li>
                                                                <li><a href="/services-and-rates/">Услуги и тарифы</a></li>                                        
                                                              </ul>
                                                            </li>

                                                            <li class="active">
                                                              <a class="active" href="/methodist-page/"><span class="l"></span><span class="r"></span><span class="t">Методическая страничка</span></a>
                                                              <ul class="active">
                                                                <li><a href="/attestation/">Аттестация</a></li>
                                                                <li><a href="/pedsovet/">Готовимся к педсовету</a></li>
                                                                <li><a href="/high-educator-sovet/">Старший воспитатель советует</a></li>
                                                                <li><a href="/education-workshop/">Педагогическая мастерская</a></li>
                                                                <li><a href="/words-of-wisdom/">Мудрые мысли</a></li>                              
                                                              </ul>
                                                            </li>

                                                            <li class="active">
                                                              <a class="active" href="/medicine-page/"><span class="l"></span><span class="r"></span><span class="t">Медицинская страничка</span></a>
                                                              <ul class="active">
                                                                <li><a href="/food/">Питание дошкольников</a></li>
                                                                <li><a href="/medicine-story/">Медицинский вестник</a></li>                              
                                                              </ul>
                                                            </li>

                                                            <li class="active">
                                                              <a class="active" href="/specialist-sovet/"><span class="l"></span><span class="r"></span><span class="t">Советы специалистов</span></a>
                                                              <ul class="active">
                                                                <li><a href="/speech-therapist/">Кабинет логопеда</a></li>
                                                                <li><a href="/music-room/">Музыкальный Кабинет</a></li>
                                                                <li><a href="/physical-culture-room/">Кабинет физинструктора</a></li>                     
                                                              </ul>
                                                            </li> 

                                                            <li class="active">
                                                              <a class="active" href="/for-you-parents/"><span class="l"></span><span class="r"></span><span class="t">Для Вас, родители!</span></a>
                                                              <ul class="active">
                                                                <li><a href="/go-to-kidgarden/">Поступаем в детский сад</a></li>
                                                                <li><a href="/questions/">Вопросы оплаты в ДОУ</a></li>                             
                                                              </ul>
                                                            </li>

                                                            <li class="active">
                                                              <a class="active" href="/safe-childhood/"><span class="l"></span><span class="r"></span><span class="t">Безопасное детство</span></a>
                                                              <ul class="active">
                                                                <li><a href="/helpful-information/">Полезная информация</a></li>
                                                                <li><a href="/normative-base/">Нормативная база</a></li>
                                                                <li><a href="/protection-right-child/">Защита прав ребенка</a></li>
                                                                <li><a href="/school-safety/">Школа безопасности</a></li>                               
                                                              </ul>
                                                            </li>

                                                            <li>
                                                              <a href="/progress-dou/"><span class="l"></span><span class="r"></span><span class="t">Достижения ДОУ</span></a>
                                                            </li>

                                                            <li>
                                                              <a href="/photos/"><span class="l"></span><span class="r"></span><span class="t">Фотогалерея</span></a>
                                                            </li>                                                    	
                                                          </ul>
                                          
                                          		<div class="cleared"></div>
                                              </div>
                                          </div>
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          
                          <div class="cleared"></div>
                        </div>
                        <div class="art-layout-cell art-content">
                          <div class="art-post">
                              <div class="art-post-tl"></div>
                              <div class="art-post-tr"></div>
                              <div class="art-post-bl"></div>
                              <div class="art-post-br"></div>
                              <div class="art-post-tc"></div>
                              <div class="art-post-bc"></div>
                              <div class="art-post-cl"></div>
                              <div class="art-post-cr"></div>
                              <div class="art-post-cc"></div>
                              <div class="art-post-body">
                          <div class="art-post-inner art-article">
                                          <h2 class="art-postheader">Welcome</h2>
                                          <div class="art-postcontent">
                                              
                                              
                                              {% block content %}{% endblock %}

                                              <p>
                                              	<span class="art-button-wrapper">
                                              		<span class="art-button-l"> </span>
                                              		<span class="art-button-r"> </span>
                                              		<a class="art-button" href="javascript:void(0)">Read more...</a>
                                              	</span>
                                              </p>
                                              <div class="cleared"></div>
                                              <div class="art-content-layout overview-table">
                                              	<div class="art-content-layout-row">
                                              		<div class="art-layout-cell">
                                                    <div class="overview-table-inner">
                                              	      <h4>Support</h4>
                                              						  <img src="{{ STATIC_URL }}images/01.png" width="55" height="55" alt="an image" class="image" />
                                              						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                              						  Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                              						  velit semper laoreet dictum, quam diam dictum urna. </p>
                                                     </div>
                                              		</div><!-- end cell -->
                                              		<div class="art-layout-cell">
                                                  <div class="overview-table-inner">
                                              		  <h4>Development</h4>
                                              						  <img src="{{ STATIC_URL }}images/02.png" width="55" height="55" alt="an image" class="image" />
                                              						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                              						  Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                              						  velit semper laoreet dictum, quam diam dictum urna. </p>
                                              				</div>
                                              		</div><!-- end cell -->
                                              		<div class="art-layout-cell">
                                                  <div class="overview-table-inner">
                                              		  <h4>Strategy</h4>
                                              
                                              						  <img src="{{ STATIC_URL }}images/03.png" width="55" height="55" alt="an image" class="image" />
                                              						  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                              						  Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                                              						  velit semper laoreet dictum, quam diam dictum urna. </p>
                                                            </div>
                                              		</div><!-- end cell -->
                                              	</div><!-- end row -->
                                              </div><!-- end table -->
                                                  
                                          </div>
                                          <div class="cleared"></div>
                          </div>
                          
                          		<div class="cleared"></div>
                              </div>
                          </div>
                          <div class="art-post">
                              <div class="art-post-tl"></div>
                              <div class="art-post-tr"></div>
                              <div class="art-post-bl"></div>
                              <div class="art-post-br"></div>
                              <div class="art-post-tc"></div>
                              <div class="art-post-bc"></div>
                              <div class="art-post-cl"></div>
                              <div class="art-post-cr"></div>
                              <div class="art-post-cc"></div>
                              <div class="art-post-body">                  
                          
                          		
                          </div>
                         
                        <div class="art-layout-cell art-sidebar2">
                          
                          		                          </div>
                          
                          		
                          </div>
                          
                    </div>
                </div>
                <div class="cleared"></div>
                <div class="art-footer">
                    <div class="art-footer-t"></div>
                    <div class="art-footer-l"></div>
                    <div class="art-footer-b"></div>
                    <div class="art-footer-r"></div>
                    
                </div>
        		<div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
        <p class="art-page-footer">Designed by <a href="http://delodom.com">http://delodom.com</a>.</p>
    </div>
        </div>
    </div>
    
    
    
    
    
</body>
</html>
